<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - MediaPipe - Face Mesh</title>
    <meta charset="utf-8">
  <link rel="icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="control_utils.css" crossorigin="anonymous">
  <script src="camera_utils.js" crossorigin="anonymous"></script>
  <script src="control_utils.js" crossorigin="anonymous"></script>
  <script src="drawing_utils.js" crossorigin="anonymous"></script>
  <script src="face_mesh.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
    <video class="input_video"></video>
    <div class="canvas-container">
    <canvas class="output_canvas" width="1280px" height="720px">
    </canvas>
    </div>
    <div class="loading">
      <div class="spinner"></div>
      <div class="message">
        Loading
      </div>
    </div>
  <div class="control-panel">
  </div>
<!-- partial -->
  <script type="module" src="./script.js"></script>

</body>
</html>
