__pycache__
model
WPy64-38100
txt2
testdb.db
*.baiduyun.uploading.cfg
*.7z
vectorstore_path
sy
*.tmp
xw
txt
*.001
*.002
*.003
cpu
新建文件夹
txt1
txt_out
zsk
zsk_out
record.db
# virtual environment
/venv/
venv.bat
*.bin
views/plugins/00测试.js
vectorstore_path*
config.xml
memory
.history