__pycache__
model
ChatYuan-large-v2
RWKV-4-Pile-7B-EngChn-testNovel-2119-ctx2048-20230313.pth
py310
Sunny-Ngrok启动工具.bat
sunny.exe
testdb.db
sqlite3.dll
SQLiteExpertPers32.exe
model.7z
*.7z
wenda.7z.baiduyun.uploading.cfg
BELLE-7B-gptq
RWKV-4-Pile-7B-EngChn-test5-20230326.pth
中国古代历史文化的品性与特色
sentence-transformers
xw
jds
txt
ACGVoc2vec
*.txt
txt_out
cyclone_simcse-chinese-roberta-wwm-ext/
chatglm-6b-int4-qe
chatglm-6b-int4
