<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <br>
  <button onclick='openGithub()'>在Github上讨论（推荐）</button><br><br>
  <button onclick='openZSK()'>在QQ群上讨论知识库话题</button><br><br>
  <button onclick='openLLM()'>在QQ群上讨论LLM话题</button><br><br>
  <button onclick='openAuto()'>在QQ群上讨论Auto开发话题</button><br><br>
  https://github.com/l15y/wenda
  <script>
    openGithub=()=>{
      open("https://github.com/l15y/wenda/discussions")
    }
    
    openZSK=()=>{
      open("https://jq.qq.com/?_wv=1027&k=z7M2fmel")
    }
    openLLM=()=>{
      open("https://jq.qq.com/?_wv=1027&k=HFgUSvmt")
    }
    
    openAuto=()=>{
      open("http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=eJdNt46jxUUvAq8x1zrw1ZY9cv6zS5St&authKey=0mlZu0o33%2BRq7jVvgN3K58aug%2FrHMgbkJpCZEv6nUqrvjX%2FYKf3vFIGLbZcb%2BB%2BJ&noverify=0&group_code=744842245")
    }
    
  </script>

</body>

</html>