<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <br>
  <button onclick='openGithub()'>在Github上讨论（推荐）</button><br><br>
  <button onclick='openZSK()'>在QQ群上讨论知识库话题</button><br><br>
  <button onclick='openLLM()'>在QQ群上讨论LLM话题</button>
  https://github.com/l15y/wenda
  <script>
    openGithub=()=>{
      open("https://github.com/l15y/wenda/discussions")
    }
    
    openZSK=()=>{
      open("https://jq.qq.com/?_wv=1027&k=z7M2fmel")
    }
    openLLM=()=>{
      open("https://jq.qq.com/?_wv=1027&k=HFgUSvmt")
    }
    
  </script>

</body>

</html>