bottle
uvicorn
fastapi
sqlalchemy
sqlalchemy_utils
transformers==4.26.1
faiss-cpu
sentence_transformers
langchain
pdfplumber
InstructorEmbedding
tiktoken
nltk
unstructured
jieba
numpy
requests
cpm_kernels
chardet
rwkv
pyyaml